@use "../utilities/animations" as *;
@use "../utilities/functions" as *;
@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;
.footer {
  padding: 76px 0 200px 0;
  position: relative;
  background: $primary-color;
  @include media($md) {
    padding: 40px 0 0 0;
  }
  &-icon,
  &-img {
    &.mobile {
      display: none;
      @include media($md) {
        display: flex;
      }
    }
    &.desktop {
      display: flex;
      @include media($md) {
        display: none;
      }
    }
  }
  &-img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
    max-width: 50%;
    @include media($md) {
      position: relative;
      max-width: 100%;
    }
    img {
      @include fit(cover);
    }
  }
  &-icon {
    position: absolute;
    right: 21px;
    bottom: 7px;
    width: 100%;
    max-width: 40%;
    align-items: center;
    gap: 18px;
    @include media($md) {
      margin-top: 20px;
      position: relative;
      max-width: 100%;
      flex-direction: row-reverse;
      gap: 0;
      right: 0;
    }
    img {
      @include fit(cover);
    }
    &__one {
      width: 100px;
      height: 100px;
      min-width: 100px;
      border-radius: 50%;
      background: linear-gradient(
        180deg,
        rgba(234, 235, 237, 0.5) 0%,
        rgba(159, 174, 213, 0.5) 100%
      );
      @include media($md) {
        height: 45px;
        width: 45px;
        min-width: 45px;
      }
    }
    &__two {
      border-radius: 70px;
      width: 100%;
      position: relative;
      height: 100px;
      background: #eaebed14;
      background: linear-gradient(90deg, #eaebed 0%, #9faed5 100%);
      &:after {
        content: "";
        position: absolute;
        width: calc(100% - 12px);
        height: calc(100% - 12px);
        top: 6px;
        left: 6px;
        border-radius: 70px;
        background: #7d8ca1;
      }
      @include media($md) {
        height: 45px;
      }
    }
  }
  &-in {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 300px;
    @include media($xl) {
      gap: 200px;
    }
    @include media($lg) {
      gap: 150px;
    }
    @include media($md) {
      flex-direction: column;
      gap: 25px;
    }
  }
  &-menu {
    display: flex;
    flex-direction: column;
    gap: 28px;
    @include media($md) {
      gap: 20px;
    }
    &__item {
      @include font(26px, 35px, 500);
      color: #fff;
      @include media($md) {
        @include font(20px, 24px, 500);
      }
    }
  }
  &-contact {
    display: flex;
    flex-direction: column;
    gap: 40px;
    &__item {
      display: flex;
      align-items: flex-start;
      gap: 8px;
      &--links {
        display: flex;
        flex-direction: column;
      }
      &--link {
        @include font(24px, 28px, 400);
        color: #fff;
        max-width: 426px;
        @include media($md) {
          @include font(20px, 24px, 400);
        }
      }
    }
  }
}
